  "_moduleAliases": {
    "@entities": "dist/src/entities",
    "@interfaces": "dist/src/interfaces",
    "@middleware":"dist/src/middleware",
    "@migrations": "dist/src/migrations",
    "@routers": "dist/src/routers",
    "@util": "dist/src/util",
    "@const": "dist/src/const"
  }