 
 // json file
  "_moduleAliases": {
    "@entities": "dist/src/entities",
    "@interfaces": "dist/src/interfaces",
    "@middleware":"dist/src/middleware",
    "@migrations": "dist/src/migrations",
    "@routers": "dist/src/routers",
    "@util": "dist/src/util",
    "@const": "dist/src/const"
  }

  // orm file
  {
    "type": "postgres",
    "host": "ec2-54-235-98-1.compute-1.amazonaws.com",
    "port": 5432,
    "username": "dxejyxxysmbcvv",
    "password": "29a06cef13f0a034c9928389590d424e9036d6bd2cbe0c9264339125ced33247",
    "database": "d5m5lleep39obo", 
    "ssl": true,
    "extra": {
      "ssl": {
        "rejectUnauthorized": false
      }
    },
    "entities": [
      "./src/migrations/*.ts",
      "./dist/src/entities/*.js"
    ],
   
    "migrations": [
      "./src/migrations/*.ts",
      "./dist/src/migrations/*.js"
    ],
    "cli": {
        "migrationsDir": "migration"
    }
  }

    
  {
    "type": "postgres",
    "host": "localhost",
    "port": 5432,
    "username": "aaron",
    "password": "",
    "database": "smtcalc", 
    "entities": [ 
      "./dist/src/entities/*.js",
      "./src/migrations/*.ts"
    ],
   
    "migrations": [
      "./dist/src/migrations/*.js",
      "./src/migrations/*.ts"
    ],
    "cli": {
        "migrationsDir": "migration"
    }
  }